h1 {
	text-align: center;
}

body {
	font-family: Arial;
}

p {
	font-size: 14px;
}

label {
	font-size: 12px;
}

button {
	margin-left: 15px;
}

#controls {
	width: 400px;
	height: 600px;
	border-style: dotted;
	float: right;
	margin-right: 20px;
}

#my_canvas {
	width: 800px; 
	height: 100px;
	padding-top: 500px;
}

#my_wordcloud_canvas {
	width: 800px; 
	height: 600px;
	/*border-style: dashed;*/
	/*padding-top: 500px;*/
	/*padding-bottom: -500px;*/
	/*overflow-y: hidden;*/
}

#wordCloudText {
	width: 360px;
	resize: none;
}

#enterTextLabel {
}

#wordCloudButton {
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 14px;
  	padding: 6px 20px 6px 20px;
  	text-decoration: none;
}

#wordCloudButton:hover {
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;
}

#clearText {
	border-style: none;
	background-color: white;
	float: right;
	text-decoration: underline;
	color: #3333ff;
}

.formContents {
	margin-left: 15px;
}

.formBox {
	border-style: groove;
	border-width: 2px;
	border-color: #d0d0e1;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 360px;
}

.selection {
	margin-left: 80px;
}

#fileUpload {
	margin-left: 75px;
}